.dub
docs.json
__dummy.html
docs/
/aardvark
aardvark.so
aardvark.dylib
aardvark.dll
aardvark.a
aardvark.lib
aardvark-test-*
*.exe
*.o
*.obj
*.lst
.idea/
aardvark.iml
classes/
out/
.DS_Store
dub.selections.json
